{% extends 'pastebin_app/base.html' %}

{% block content %}
    <h1>Create a new paste </h1>
    {% url 'pastebin:create' as create %}
    {% url 'pastebin:paste_update' object.id as update %}    
    <form action="{% if request.path == create %} {{create}} {% else %} {{update}} {% endif %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if request.path == create %} Create {% else  %} Update {% endif %}" name="create" class="btn btn-primary">
    </form>
    <p>
        <a href="{% url 'pastebin:create' %}"class = "btn">View all</a>
    </p>
{% endblock content %}